.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 260px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
	animation: 3s redes 1;
}

@keyframes redes{
	
}


	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
		border-radius: 3px;
		border:1px solid white;
	}
	
	.social ul li .icon-facebook {background:black;
		padding: 10px 15.3px;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: black;
		padding: 10px 13.6px;}
	.social ul li .icon-googleplus {background: black;
	padding: 10px 14.2px;}
	.social ul li .icon-pinterest {background: black;
	padding: 10px 14.1px;}
	.social ul li .icon-formulario {background: black;
	padding: 10px 13px;}

		.social ul li .icon-facebook:hover {background:#3b5998;
		padding: 10px 15.3px;
		padding: 10px 30px;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter:hover {background: #00abf0;
		padding: 10px 13.6px;
			padding: 10px 30px;}
	.social ul li .icon-googleplus:hover {background: #d95232;
	padding: 10px 14.2px;
		padding: 10px 30px;}
	.social ul li .icon-pinterest:hover {background: #ae181f;
	padding: 10px 14.1px;
		padding: 10px 30px;}
	.social ul li .icon-formulario:hover {background: purple;
	padding: 10px 14.1px;
		padding: 10px 30px;}

	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
		border-radius: 3px;
		border:1.3px solid white;
		animation: 0.5s hov 1;
	}

@keyframes hov{
	25%,75%{
		transform: scale(0.8);}
	50%{
		transform: scale(1.1);
	}
}

























@media only screen and (max-width : 600px) {
	.social{
		display: none;
	}
}