*{
	margin:0px;
	padding: 0px;
}

.arrow{
	
}

body{
	font-family: 'Architects Daughter', cursive;
}

.color-main{
	font-weight: bold;
	font-size: 3.3em;
	letter-spacing: 2px;
	line-height: 1.5em;
	color: white;
	text-align: center;
	margin-top: 210px;
}
.content_general{
	width: 100%;
	height: 100%;
	top:0px;
	left: 0px;
	background-image:url(../img/bg.jpg);
	background-size: cover;
	background-position: center 0px;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: -1;
}

.body{
	width:100%;
	min-height: 300px;
	overflow: hidden;
}

.scrolldown{
	margin:auto;
	position: relative;
}


.title{
	text-align: center;
	font-weight: lighter;
	font-size: 1.5em;
	color: white;
	visibility: hidden;
	position: relative;
}

.flecha{
	-webkit-transform: rotate(270deg);
	text-align: center;
	color: white;
	font-size: 2.4em;

}

.all-section{
	width: 100%;
	height: auto;
}

.card{
	background-color: #fff;
	border-radius: 5px;
	margin-top: 40px;
	text-align: center;
	padding:10px;
	margin-bottom: 30px;
	border:1px solid gray;
}

.text-align{
	text-align: center;
}

.orange-color{
	color:#F4511E;
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.5em;
	text-shadow:6px 5px 7px #90A4AE;

}

/*efecto flash*/

.card:hover{
	animation: 0.5s flash 1;
}

@keyframes flash{
	50%{
		opacity: 1;
	}
	25%, 75%{
		opacity: 0;
	}
}	

/*end efecto*/


a:link {
	color: #F4511E;
}

/* visited link */
a:visited {
	color: white;
}

/* mouse over link */
a:hover {
	color: #F4511E;
	font-weight: bold;
}

/* selected link */
a:active {
	color: white;
}

a:hover.blue-text.text-lighten-3:hover{
	color: red;
}

.letter-spacing{
	letter-spacing: 2px;
}

.line-height{
	line-height: 1.9em;
}

/*bg color de proyectos finalizados*/
.trabajosFinalizados{
	background-color: #3949ab ;
	margin-top: -8px;
	border-top: 2px solid white;
}

#servicios{
	background: #6a1b9a;
	border-top: 2px solid white;
}


.row{
	margin-bottom: 0px;
}

#footerSection.page-footer{
	margin-top: 0px;
	border-top:2px solid white;
}



.quitar{
	visibility: hidden;
}

.manito{
	cursor: pointer;
}


.table-services{
	background-color: #b2ebf2;
	border-radius: 5px;
	border:1px dashed black;
	padding:7px;
	color:black;
	text-align:center;
	font-size: 14px;
}


/*para el titulo h2 de los servicios*/
.banner_servicios{
	float: right;
	text-align: center;
	margin-right: 210px;
	font-size: 2.2em;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.5em;
	margin-top:40px;"
	padding: 33px;
	border-radius: 10px;
}

.slider{
	width: 100%;
	height: 100%;

}


/*SLIDER*/

.slider .indicators .indicator-item {
	background-color: #666666;
	border: 2px solid #ffffff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
	background-color: red;
}
.slider {
	width: 100%;
	margin: 0 auto;
}
.slider .indicators {
	bottom: 60px;
	z-index: 100;
	/* text-align: left; */
}

/*END SLIDER*/




/*@keyframes rebote_abajo{
	0%{
		opacity: 0;
		transform: translateY(2000px);
	}
	40%{
		opacity: 1;
		transform: translateY(30px);
	}
	70%{
		opacity: 1;
		transform: translateY(-30px);
	}

*/











@keyframes sale_i{
	0%,20%,30%,40%{
		opacity: 0px;
		transform: rotate(380deg);
	}




.palabras{
	color:orange;
	margin: 10px auto;
	display: block;
	text-align: center;
	padding: 20px;
	background-color: white;
	margin-top: 17px;
	border-radius: 5px;
	border: 1px solid black;
	text-shadow:6px 5px 7px #90A4AE;
	font-weight: bold;
	letter-spacing: 2px;
}


.palabras_footer{
	color:#F4511E;
	margin: 10px auto;
	display: block;
	text-align: center;
	padding: 3px;
	background-color: white;
	border-radius: 7px;
	border: 1px solid #18FFFF;
	text-shadow:6px 5px 7px #90A4AE;
	font-family: 'Architects Daughter', cursive;
	letter-spacing: 2px;
	text-align: center;
	padding: 5px;
}


.caja_servicios{
	background-color: #FEF7AA;
	border-radius: 3px;
	padding: 3%;
	border: 1.5px solid purple;
	padding-bottom: 20px;
}

.caja_servicios{
	transform:translateX(0);
}

.caja_servicios:before{
	content: '';

	position: absolute;
	left: 0px;
	bottom: 0px;

	width: 0px;
	height: 0px;

	background: linear-gradient( 
		45deg, white 45%, #aaa 50%,
		#e1bee7 60%, #f3e5f5);
	transition-duration:0.5s;

}

.caja_servicios:hover:before{
	width: 45px;
	height: 45px;
}













/*responsive*/

@media only screen and (max-width : 600px) {

	.color-main{
		font-family: 'Architects Daughter', cursive;
		font-size: 1.8em;
		font-weight: bold;
		letter-spacing: 2px;
		line-height: 1.5em;
		text-align: center;
		margin-top: 320px;

	}


	
	/*para el titulo h2 de los servicios*/
	.banner_servicios{
		float: right;
		text-align: center;
		margin-right: 45px;
		font-family: 'Architects Daughter', cursive;
		font-size: 2.5em;
		font-weight: bold;
		letter-spacing: 2px;
		line-height: 1.5em;
		margin-top:40px;"
		padding: 33px;
		border-radius: 10px;
	}


}

